@import url('uikit.min.css');
@import url('components/tooltip.min.css');
@import url('components/slideshow.min.css');
@import url('components/slidenav.min.css');
@import url('components/dotnav.min.css');
@import url('colorscheme.css');
@import url('../fonts/fonts.css');

/**/
body {
	font-family: 'Intro Book', 'Intro-Book', 'Intro', 'Helvetica Neue', sans-serif;
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background: #e4eaed;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Intro', 'Helvetica Neue', sans-serif;
}
p:last-child {
	margin-bottom: 0;
}
main {
	min-height: calc(100vh - 100px);
}
::selection {
	background: #00acc1;
	color: #fff;
}
::-moz-selection {
	background: #00acc1;
	color: #fff;
}
.font-intro-book {
	font-family: 'Intro Book', 'Intro-Book', 'Intro', sans-serif;
}
.font-intro {
	font-family: 'Intro', sans-serif;
}
/**/
.uk-container.uk-container-center {
	padding: 0 75px 0 calc(160px + 2vw);
	max-width: 1050px;
}
/**/
.ja-bold {
	font-family: 'Intro-Bold', 'Intro Bold', 'Intro';
}
.ja-nav {
	position: fixed;
	z-index: 1;
	width: 160px;
	left: 2vw;
	top: 30px;
}
.ja-logo {
	width: 160px;
	height: 160px;
	margin-bottom: 10px;
}
.ja-logo a {
	background: url(../img/logo.png) center center no-repeat;
	/*background-size: 75%;*/
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -999em;
}
.ja-nav-main {
	color: #fff;
	width: 140px;
	padding: 10px;
	margin: 0 0 10px;
}
.ja-nav-main li a {
	color: #fff;
	padding: 10px 0 10px 30px;
	display: block;
	line-height: 18px;
}
.ja-nav-main li a:hover {
	text-decoration: none;
}
.ja-nav-main li.active>a {
	color: #005da6;

}
.ja-nav-sub {
	border-top: 1px solid #005da6;
	padding-top: 10px;
	margin-top: 0px;
}
.ja-nav-sub li a {
	color: #fff;
	padding: 0;
	padding: 5px 0 5px 10px;
	display: block;
}

.ja-icon-about {
	background: url(../img/i-nav-sprite.png) no-repeat 0px 5px;
}
.ja-icon-about:hover, .active .ja-icon-about {
	background: url(../img/i-nav-sprite.png) no-repeat 0px -245px;
}
.ja-icon-loc {
	background: url(../img/i-nav-sprite.png) no-repeat 0px -45px;
}
.ja-icon-loc:hover, .active .ja-icon-loc {
	background: url(../img/i-nav-sprite.png) no-repeat 0px -295px;
}
.ja-icon-attract {
	background: url(../img/i-nav-sprite.png) no-repeat 0px -85px;
}
.ja-icon-attract:hover, .active .ja-icon-attract {
	background: url(../img/i-nav-sprite.png) no-repeat 0px -335px;
}
.ja-icon-edu {
	background: url(../img/i-nav-sprite.png) no-repeat 0px -135px;
}
.ja-icon-edu:hover, .active .ja-icon-edu {
	background: url(../img/i-nav-sprite.png) no-repeat 0px -385px;
}
.ja-icon-news {
	background: url(../img/i-nav-sprite.png) no-repeat 0px -195px;
}
.ja-icon-news:hover, .active .ja-icon-news {
	background: url(../img/i-nav-sprite.png) no-repeat 0px -445px;
}
.ja-nav-main li a:hover {
	color: #005da6;
}

.ja-searchform {
	padding: 6px 10px;
	display: block;
	margin: 0 0 10px;
}
.ja-searchform input[type='text'] {
	font-family: 'Intro', 'Helvetica Neue', sans-serif;
	display: inline-block;
	background: none;
	padding: 0;
	margin: 0;
	border: 0;
	line-height: 24px;
	font-size: 1em;
	height: 24px;
	color: #fff;
	width: 110px;
}
.ja-searchform input[type='submit'] {
	display: inline-block;
	background: url(../img/i-search.png) no-repeat center;
	padding: 0;
	margin: 0;
	height: 24px;
	width: 24px;
	border: none;
	text-indent: -999px;
	cursor: pointer;
}
.ja-searchform ::-webkit-input-placeholder {
	color: #fff;
}
.ja-searchform ::-moz-placeholder {
	color: #fff;
}
.ja-searchform :-ms-input-placeholder {
	color: #fff;
}
.ja-searchform :-moz-placeholder {
	color: #fff;
}
.ja-socmed {
	padding: 6px 10px;
	display: block;
	margin-bottom: 10px;
}
.ja-socmed a {
	color: #fff;
	font-size: 16px;
	padding: 0 2px;
	line-height: 24px;
	display: inline-block;
}
.ja-socmed a:hover {
	color: #005da6;
}
.ja-info {
	padding: 1em 15px .1em;
	background: rgba(0, 0, 0, 0.25);
	color: #fff;
}
.ja-header {
	width: 100%;
	height: 100vh;
	position: relative;
}
.ja-slideshow {
	z-index: 0;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100vh;
	background: #005da6;
}
.ja-slideshow .uk-slideshow {
	z-index: 0;
	position: relative;
}
.ja-slideshow .uk-slideshow li {
	width: 100%;
	height: 100vh;
}
.ja-slideshow .uk-slideshow li .uk-container {
	margin-top: 15em;
}
.ja-slideshow-nav {
	z-index: 1;
	position: absolute;
	top: 13em;
	width: 100%;
}
.ja-slideshow .uk-dotnav>*>* {
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
}
.ja-slideshow .uk-dotnav a:hover,
.ja-slideshow .uk-dotnav .uk-active a {
	background: #fff;
}
.ja-lang {
	margin: 6em 0 5em;
	color: #fff;
}
.ja-lang>* {
	padding-left: 0;
	padding-right: 10px;
}
.ja-lang a {
	color: #fff;
}
.ja-lang a:hover,
.ja-lang .uk-active a {
	color: #f5b31c;
}

.ja-header-content {
	position: relative;
}

h2.ja-slide-title {
	font-family: 'Intro', 'Helvetica Neue', sans-serif;
	text-transform: uppercase;
	font-size: 3em;
	font-weight: bold;
	line-height: 1.2em;
}
.ja-button-outline {
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	line-height: 2em;
	padding-top: 4px;
}
.ja-button-outline__cyan {
	background: transparent;
	border: 1px solid #00acc1 !important;
	color: #00acc1 !important;
	line-height: 2em;
	padding-top: 4px;
}
.uk-overlay-background {
	background: url(../img/overlay.png);
}
.ja-overlay {
	background: url(../img/overlay.png);
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ja-overlay+* {
	z-index: 1;
	position: relative;
}
.ja-header-banner {
	position: absolute;
	top: calc(100vh - 200px);
	padding: 5px;
	background: rgba(0, 0, 0, 0.25);
}
.ja-header-banner>ul>li {
	padding-left: 5px;
	width: 240px;
	height: 104px;
	positon: relative;
}
.ja-header-banner>ul>li:first-child {
	padding-left: 10px;
}

.ja-slideshow-banner  {
	width: 240px;
	height: 104px;
}
.ja-slideshow-banner img {
	width: 240px;
	height: 104px;
}
.ja-slideshow-banner .uk-slidenav-previous,
.ja-slideshow-banner .uk-slidenav-next {
    /*display: block;*/
	font-size: 2em;
}
.ja-slideshow-banner.uk-slidenav-position .uk-slidenav-previous {
	left: 0;
}
.ja-slideshow-banner.uk-slidenav-position .uk-slidenav-next {
	right: 0;
}
.ja-slideshow-banner .uk-slidenav-previous:before {
	content: "\f137";
	color: rgba(0, 0, 0, 0.75);
}
.ja-slideshow-banner .uk-slidenav-next:before {
	content: "\f138";
	color: rgba(0, 0, 0, 0.75);
}
/**/
.ja-home-section {
	padding: 5em 0;
	position: relative;
	background: #e4eaed;
}
.ja-side-banner {
	position: fixed;
	right: 10px;
	width: 75px !important;
	top: 185px;
	z-index: 10;
}
.ja-home-section .ja-side-banner {
	position: absolute;
}
.ja-title {
	font-family: 'Intro', 'Helvetica Neue', sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
	line-height: 1.2em;
	position: relative;
}
.ja-title__alt {
	font-size: 24px;
}
.ja-title__large {
	font-size: 32px;
}
.ja-title__blue:after {
	content: "";
	height: 6px;
	width: 100%;
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0;
	background: url(../img/line-title-blue.png) no-repeat left center;
}
.ja-title__bluesmall:after {
	content: "";
	height: 6px;
	width: 100%;
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0;
	background: url(../img/line-title-blue-small.png) no-repeat left center;
}
.ja-title__bluelong:after {
	content: "";
	height: 6px;
	width: 100%;
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0;
	background: url(../img/line-title-blue-long.png) no-repeat left center;
}
.ja-title__orange:after {
	content: "";
	height: 6px;
	width: 100%;
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0;
	background: url(../img/line-title-orange.png) no-repeat left center;
}
.ja-title__orange.long:after {
	background: url(../img/line-title-orange-long.png) no-repeat left center;
}
.ja-title__orange.uk-text-center:after {
	width: 180px;
	left: 50%;
	margin-left: -75px;
}
.ja-title__orange.long.uk-text-center:after {
	width: 230px;
	left: 50%;
	margin-left: -115px;
}
.ja-title__curly:after {
	content: "";
	height: 7px;
	width: 100%;
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0;
	background: url(../img/line-title-curly.png) no-repeat left center;
}

#whatson {
	background: #e4eaed url(../img/bg-section-whats.png) repeat-x center bottom;
}
#sightseeing {
	background: #e4eaed url(../img/bg-section-sight.png) center center;
	background-size: cover;
}
.ja-post {
	background: #f4f7f8;
	position: relative;
}
.ja-post--img {
	display: block;
	width: 100%;
	height: 160px;
	line-height: 160px;
	text-align: center;
	position: relative;
	text-indent: -999em;
	background-color: rgba(245, 179, 28, 0.7);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.ja-post--img:hover:before {
	content: "Learn more";
	display: block;
	width: 100%;
	height: 160px;
	line-height: 160px;
	text-align: center;
	text-indent: 0;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(245, 179, 28, 0.7);
	color: #fff;
}
.ja-post--imgcover {
	display: block;
	width: 100%;
	height: auto;
}
.ja-post--content {
	padding: 1.5em 3em 0 0;
}
.ja-post--content_wide {
	padding: 1.5em;
}
.ja-post--content p {
	line-height: 1.5em;
	height: 3em;
	overflow: hidden;
	display: inline-block;
}
.ja-post--title>* {
	font-family: 'Intro', 'Helvetica Neue', sans-serif;
	font-weight: bold;
	color: inherit;
	line-height: 1.5em;
	height: 4.5em;
	overflow: hidden;
	display: inline-block;
}
.ja-post--link {
	position: absolute;
	bottom: 1em;
	right: 1em;
	color: #3ab0c8;
}
#sightseeing ul li:nth-child(1) {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	padding: 0 0 1em 0;
}
#sightseeing ul li:nth-child(2) {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	padding: 0 0 1em 3em;
}
#sightseeing ul li:nth-child(3) {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	padding: 1em 0 0;
}
#sightseeing ul li:nth-child(4) {
	padding: 1em 0 0 3em;
}
#themoment ul li {
	background-color: #fff;
	position: relative;
}
#themoment ul li a {
	display: block;
	height: 200px;
	width: calc(100% - 40px);
	padding: 20px;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
	color: inherit;
	text-decoration: none;
}
#themoment ul li a>* {
	position: relative;
	z-index: 0
}
#themoment ul li a:hover {
	text-decoration: none;
	color: inherit;
}
#themoment ul li a:hover:after {
	content: "";
	text-align: center;
	color: #fff;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(245, 179, 28, 0.7) url(../img/i-plus.png) no-repeat center center;
	z-index: 1;
}
#getapp {
	padding: 5em 0 0;
	background: #f9fafb;
}
.ja-footer {
	padding: 2.5em 0;
	font-size: .85em;
	z-index: 10;
	position: relative;
}
.ja-footer ul {
	margin-bottom: 0;
}
.ja-footer ul li a {
	color: inherit;
}

/**/
.ja-header-page {
	height: 600px;
	position: relative;
}
.ja-header-page .uk-container {
	padding-top: 200px;
}
.ja-header-intro {
	background: rgba(0, 0, 0, 0.7);
	height: calc(400px - 5em);
	padding: 2.5em;
	text-align: center;
	font-size: 2.2rem;
	line-height: 1.5em;
	color: #fff;
	font-family: 'Intro-Light', 'Intro Light', 'Intro';
}
.ja-about {
	background: #e4eaed url(../img/bg-section-about.png) no-repeat top center;
}
.ja-about__content {
	padding: 4em 3em;
}
.ja-header-ticket {
	height: 160px;
	padding-top: 30px;
	margin-bottom: 10px;
}
.ja-ticket {
	background: #e4eaed url(../img/bg-section-whats.png) repeat-x center bottom;
}
.ja-ticket__content {
	padding: 2em;
	background: #f4f7f8;
}
.ja-ticket .uk-panel-box {
	background: none;
	border: 2px solid #ffb300;
}
.ja-ticket .uk-accordion-content {
	border-bottom: 1px solid #00acc1;
	margin-bottom: 1em;
	overflow: hidden;
	padding-bottom: 1em;
}
.ja-ticket .uk-accordion-content *+p {
	margin-top: 0;
}
.ja-ticket .uk-accordion-title {
	border-bottom: 1px solid #00acc1;
	padding-bottom: 10px;
	cursor: pointer;
	color: #01579b;
	position: relative;
	margin-top: 0;
	text-transform: uppercase;
}
.ja-ticket .uk-accordion-title:after {
	content: "\f078";
	font-family: "FontAwesome";
	display: inline-block;
	float: right;
	color: #00acc1;
}
.ja-ticket .uk-accordion-title.uk-active:after {
	content: "\f00d";
	font-family: "FontAwesome";
	display: inline-block;
	float: right;
	color: #00acc1;
}
.ja-ticket .uk-accordion-title:hover,
.ja-ticket .uk-accordion-title:hover:after {
	color: #ffb300;
}

.ja-ticket label,
.ja-ticket input[type="text"],
.ja-ticket input[type="text"]:disabled,
.ja-ticket select,
.ja-ticket .ja-sub {
	height: 40px;
	line-height: 40px;
	border: 1px solid #00acc1;
	display: block;
	background: #fff;
	padding: 0 1em;
	float: left;
}

.uk-form-row.uk-margin-remove + .uk-form-row.uk-margin-remove label,
.uk-form-row.uk-margin-remove + .uk-form-row.uk-margin-remove input[type="text"],
.uk-form-row.uk-margin-remove + .uk-form-row.uk-margin-remove .ja-sub {
	border-top: 1px solid #fff;
}
.ja-ticket input[type="text"]:disabled {
	color: #111 !important;
}
.ja-ticket label {
	color: #00acc1;
	height: 38px;
	min-width: 150px;
	border-right: none;
}
.ja-ticket input[type="text"] {
	width: calc(100% - 180px);
}
.ja-ticket .ja-sub {
	width: calc(100% - 210px);
	height: 38px;
	display: inline-block;
}
.ja-ticket input[type="number"] {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
}
.ja-ticket input[type="text"]#visitor, .ja-ticket input[type="text"]#visitorchild {
	width: 60px;
}
.ja-ticket label i {
	display: inline-block;
	width: 24px;
	height: 38px;
	line-height: 38px;
	float: left;
	text-align: center;
	margin-right: 10px;
	font-size: 1.2em;
}
.ja-adult {
	background: url(../img/i-adult.png) no-repeat center left;
}
.ja-child {
	background: url(../img/i-child.png) no-repeat center left;
}
.ja-ticket button:hover {
	color: #fff !important;
}
.ja-ticket .uk-panel-box {
	border: 1px solid #00acc1;
}
.ja-ticket .uk-panel-box + .uk-panel-box  {
	border-top: none;
}
.ja-ticket .jai-submission-info {
	height: 6em;
	overflow: hidden;
}
.ja-ticket .jai-submission-price {
	margin-top: 10px;
}
.ja-ticket .jai-submission-order {
	background: url(../img/i-user.png) no-repeat 1em center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.ja-ticket .jai-submission-order input[type="number"] {
	width: 50%;
}
/**/
.ja-header-showtime {
	height: 600px;
	background-image: url(../img/showtime-header.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.ja-showtime-intro {
	padding-top: 400px;
	font-size: 1.5em;
	line-height: 1.5em;
	color: #fff;
}
.ja-showtime {
	background: #e4eaed url(../img/bg-section-whats.png) repeat-x center bottom;
}
.ja-showtime-list {
	border-top: 2px solid #00bcd4;
	background: #f4f7f8;
}
.ja-showtime-list>li {
	margin-top: 0 !important;
	border-top: none !important;
	border-bottom: 1px solid #ddd;
}
.ja-showtime__all,
.ja-showtime__part,
.ja-showtime__limited {
	padding-top: 1em !important;
	padding-bottom: 1em !important;
	width: 100%;
}
.ja-showtime__all {
	border-left: 5px solid #8bc34a;
}
.ja-showtime__part {
	border-left: 5px solid #ffc107;
}
.ja-showtime__limited {
	border-left: 5px solid #e91e63;
}
.ja-map {
	min-height: 450px;
}
.ja-icon-facility {
	width: 50px;
	height: 50px;
	margin-right: .5em;
	float: left;
}
.ja-icon-facility.park {
	background: url(../img/i-facility_park.png) no-repeat center center;
}
.ja-icon-facility.vip {
	background: url(../img/i-facility_vip.png) no-repeat center center;
}
.ja-icon-facility.bike {
	background: url(../img/i-facility_bike.png) no-repeat center center;
}
.ja-icon-facility.bus {
	background: url(../img/i-facility_bus.png) no-repeat center center;
}
.ja-icon-facility.shuttle {
	background: url(../img/i-facility_shuttle.png) no-repeat center center;
}
.ja-icon-facility.taxi {
	background: url(../img/i-facility_taxi.png) no-repeat center center;
}
.ja-icon-facility.wheelchair {
	background: url(../img/i-facility_wheelchair.png) no-repeat center center;
}
.uk-subnav li {
	cursor: pointer;
}
.uk-subnav li.uk-active {
	color: #00bcd4;
}
.ja-button {
	padding: 3px 12px 0;
	line-height: 27px;
	min-height: 27px;
}
.uk-active.ja-button,
.uk-active .ja-button {
	background: #00bcd4 !important;
}
.ja-button.hover:hover {
	background: #ffb300 !important;
}
.ja-button:hover {
	color: #fff;
}
/**/
.ja-header-news {
	height: 160px;
	padding-top: 30px;
	margin-bottom: 10px;
}
.ja-news, .ja-page {
	background: #e4eaed url(../img/bg-section.png) no-repeat bottom center;
}
.ja-news__content,
.ja-page__content {
	padding: 2em;
	background: #f4f7f8;
}
.ja-news__content h2 a:hover {
	color: rgba(245, 179, 28, 1) !important;
}
.ja-news__img {
	position: relative;
	z-index: 0;
	display: inline-block;
}
.ja-news__img:hover:before {
	content: "Learn more";
	display: block;
	width: 100%;
	height: 100%;
	line-height: 440px;
	text-align: center;
	text-indent: 0;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(245, 179, 28, 0.7);
	color: #fff;
}
.ja-featured .uk-dotnav {
	margin-top: 2.25em;
	margin-right: 2em;
}
.ja-featured .uk-dotnav>* {
	padding-left: 10px;
	margin-top: 0;
}
.ja-featured .uk-dotnav>*>* {
	width: 10px;
	height: 10px;
	background: none;
	border: 2px solid #00bcd4;
}
.ja-featured .uk-dotnav>.uk-active>* {
	background: #00bcd4;
}
.ja-featured-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 2em 35% 2em 2em;
	width: calc(100% - 35% - 2em + 2px);
	position: absolute;
	bottom: 0;
	top: auto;
}
.ja-featured-overlay a {
	text-decoration: none !important;
}
.ja-featured-overlay .uk-button {
	position: absolute;
	right: 2em;
	bottom: 2em;
	margin: 0 !important;
}
.ja-featured .uk-slidenav {
	display: block !important;
	position: absolute;
	top: 65%;
	margin-top: 0px;
	background: #f6b31f;
	color: #005da6;
	border-radius: 50%;
	font-size: 2em;
	width: 36px;
	height: 36px;
	line-height: 36px;
}
.ja-featured .uk-slidenav-previous {
	left: 10px;
}
.ja-featured .uk-slidenav-next {
	right: 10px;
}
.ja-hr {
	border-top: 1px solid #00bcd4;
}
.ja-news .uk-pagination>li.uk-active>a,
.ja-news .uk-pagination>li.uk-active>span {
	background: #00bcd4;
}
.ja-news .uk-pagination>li>a,
.ja-news .uk-pagination>li>span {
	padding: 5px 5px 1px;
}
.ja-news__content-details {
	padding-right: 8em;
	position: relative;
}
.ja-share {
	position: absolute;
	right: 2em;
	top: 2em;
	margin: 0 !important;
}
.ja-share .uk-icon-button {
	border-radius: 0;
	color: #fff;
}

/**/
ul.ja-boxes li a {
	display: block;
	height: 125px;
	width: calc(100% - 40px);
	padding: 20px;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f4f7f8;
	color: inherit;
	text-decoration: none;
	position: relative;
	z-index: 0;
}
ul.ja-boxes li {
	position: relative;
	z-index: 0;
	overflow: visible;
}
ul.ja-boxes li a>* {
	position: relative;
	z-index: 0;
}
ul.ja-boxes li a:hover {
	text-decoration: none;
	color: inherit;
}
ul.ja-boxes .ja-bg_orange {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(245, 179, 28, 0.7);
}
ul.ja-boxes .ja-bg_cyan {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 188, 212, 0.7);
}
.ja-arrow-left {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 7px 7px 0;
	border-color: transparent #f4f7f8 transparent transparent;
	position: absolute;
	top: 30px;
	z-index: 10 !important;
	left: -7px;
}
.ja-arrow-right {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 0 7px 7px;
	border-color: transparent transparent transparent #f4f7f8;
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 10 !important;
}
.ja-career {
	background: #f4f7f8;
}
.ja-career-title {
	padding: 1em 1em .7em;
}
.ja-career .uk-accordion-title {
	padding: 1em 1em .7em;
	border-bottom: 1px solid #ddd;
	position: relative;
	cursor: pointer;
	margin: 0;
}
.ja-career .uk-accordion-title > *{
	padding: 0;
}
.ja-career .uk-accordion-content {
	padding: 1em;
	border-bottom: 1px solid #ddd;
}
.ja-career .uk-accordion-title:after {
	content: "\f0d7";
	position: absolute;
	right: .5em;
	top: .5em;
	font-family: "FontAwesome";
	font-size: 1.5em;
	color: #bbb;
}
.ja-career .uk-accordion-title.uk-active:after {
	content: "\f0d8";
	position: absolute;
	right: .5em;
	top: .5em;
	font-family: "FontAwesome";
	font-size: 1.5em;
	color: #bbb;
}
.ja-career-footer {
	height: 500px;
}
.ja-media li {
	padding-top: 1em !important;
	padding-bottom: 1em !important;
	width: 100%;
}
.ja-media li:first-child {
	padding-top: 0 !important;
}
.ja-media li:last-child {
	padding-bottom: 0 !important;
}
.ja-media a:hover {
	color: #f5b31c !important;
	text-decoration: none;
}
.ja-border-top {
	border-top: 4px solid #00acc1;
}

.ja-404 {
	height: calc(100vh - 100px);
	position: relative;
	background: #e4eaed;
	z-index: 0;
}
label.no-style {
	display: inline-block;
	width: auto;
	height: auto;
	line-height: auto;
	float: none;
	text-align: inherit;
	margin-right: 0;
	font-size: inherit;
	border: none;
}
label.no-style img {
	width: auto;
	height: 30px;
	cursor: pointer;
}
@media (max-width: 768px) {
	header {
		margin-top: 110px;
		padding-top: 0 !important;
		margin-bottom: 0 !important;
		height: calc(100vh - 110px) !important;
	}
	.uk-container.uk-container-center {
		padding: 0 25px;
	}
	.ja-nav {
		position: fixed;
		z-index: 100;
		width: 100%;
		top: 0;
		left: 0;
	}
	.ja-logo {
		width: 100%;
		height: 80px;
		margin-bottom: 0;
	}
	.ja-logo a {
		background: url(../img/logo.png) center center no-repeat;
		/*background-size: 25%;*/
		display: block;
		width: 100%;
		height: 100%;
		text-indent: -999em;
	}
	.ja-mobmenu {
		display: block;
		padding: 5px 0 2px;
		width: 100%;
		color: #fff;
		text-align: center;
		background: #3ab0c8;
		font-size: 1.5em;
	}
	.ja-nav-main {
		width: 100%;
		margin: 0;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
	}

	.ja-icon-attract {
		background: url(../img/i-attract.png) no-repeat left 5px;
	}
	.ja-icon-edu {
		background: url(../img/i-edu.png) no-repeat left 5px;
	}

	.ja-searchform {
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		text-align: center;
		margin: 0;
	}
	.ja-searchform input[type='text'] {
		width: 75%;
	}
	.ja-socmed {
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		margin: 0;
	}
	.ja-slideshow {
		height: 100%;
	}
	.ja-slideshow .uk-slideshow li .uk-container {
		margin-top: 50vh;
		padding: 0;
	}
	.ja-slideshow-nav {
		top: 45vh;
	}
	h2.ja-slide-title {
		font-size: 1.2em;
		line-height: 1.2em;
	}
	.ja-lang {
		margin: 2em 0 1em;
	}
	.ja-info {
		background: none;
		padding: 0;
	}
	#whatson {
		padding: 2em 0 0;
	}
	#whatson .uk-container {
		padding: 0;
	}
	.ja-side-banner {
		position: relative !important;
		right: auto;
		top: -2em;
		width: 100% !important;
		margin-top: 0;
	}
	.ja-side-banner a {
		width: 100%;
		background: #f8b31d;
		display: block;
		text-align: center;
	}
	.ja-side-banner li {
		border-top: 1px solid rgba(255, 255, 255, 0.25);
	}
	.ja-side-banner.uk-visible-small {
		display: none !important;
	}
	.ja-home-section .ja-side-banner.uk-visible-small {
		display: block !important;
	}

	#whatson ul {
		margin-bottom: 0 !important;
	}
	#whatson ul.uk-list-space li {
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		margin-top: 0 !important;
	}
	#whatson .ja-title.uk-margin-large-bottom {
		margin-left: 25px;
	}
	.ja-title.uk-margin-large-bottom {
		margin-bottom: 1em !important;
	}
	.ja-post--content {
		padding: 1em 25px;
	}
	#themoment {
		padding: 2em 0;
	}
	#themoment ul li a {
		height: 100px;
		width: calc(100% - 20px);
		padding: 10px;
	}
	#themoment ul li:nth-child(2),
	#themoment ul li:nth-child(4),
	#themoment ul li:nth-child(9) {
		display: none;
	}
	#themoment ul li a>*,
	#themoment ul li a>*>* {
		font-size: 10px;
		line-height: 12px;
	}
	footer {
		text-align: center;
	}
	#getapp {
		padding: 2em 0;
		text-align: center;
	}

	.ja-header-page {
		position: relative;
	}
	.ja-header-intro, .ja-showtime-intro {
		position: absolute;
		bottom: 0;
		padding: 10px;
		font-size: 1em;
		height: auto;
		width: calc(100% - 70px);
	}
	.ja-header-page .ja-side-banner {
		position: absolute !important;
		bottom: 0;
		top: auto;
		margin-bottom: 0;
	}
	header.ja-header-ticket,
	header.ja-header-news {
		height: 100px !important;
	}
	.uk-accordion-title {
		font-size: 1em;
	}
	.ja-title,
	.ja-news__content h2 {
		font-size: 1.5em;
	}
}
